﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Dashboard</title>
    @Styles.Render("~/Content/dashboardStyle")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="@Url.Action("Index", "Home")" class="nav-link">
                    <img alt="Link" src="@Url.Content("~/Images/navIcon.png")" />
                    <span class="nav-link-text">Home</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index", "Area")" class="nav-link">
                    <img alt="Link" src="@Url.Content("~/Images/if_Monster.png")" />
                    <span class="nav-link-text">Area Data</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Contact", "Home")" class="nav-link">
                    <img alt="Link" src="@Url.Content("~/Images/if_Spell_Book.png")" />
                    <span class="nav-link-text">More</span>
                </a>
            </li>
        </ul>
    </nav>

    <main class="main">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Computer Concepts Inc.</p>
        </footer>
    </main>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("ChartScripts", false)
</body>
</html>
