﻿:root {
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --color1: #6c7983;
    --color2: #454e56;
    --transition-speed: 200ms;
}

header {
    clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
    font-family: 'Liu Jian Mao Cao', cursive;
    text-align: center;
    background: radial-gradient(var(--color2), var(--color1));
    padding: 0px;
}
header img {
    width: 2rem;
    height: 2rem;
}

body {
    
    color: black;
    background-color: var(--color2);
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 1rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

main {
    margin-left: 5rem;
    padding: 1rem;
}

.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
}

.navbar:hover {
    width: 16rem;
}

.navbar:hover .nav-link-text {
    display: block;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed)
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.nav-link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link img {
    min-width: 1rem;
    min-height: 1rem;
    max-height: 2rem;
    max-width: 2rem;
    margin: 0 1.5rem;
}

.MainDash {
    display: flex;
    justify-content: center;
      
}
.SubDash {
    
}

.chart {

}

#flex-1 {
    flex: 1;
}
#flex-2 {
    flex: 2;
}