﻿

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header>
    <h3>Dashboard</h3>
    <img src="~/Images/iconflat.png" />

</header>
<p id="test">@ViewBag.COUNT</p>
<div class="MainDash">
<div class="chart" id="flex-1">
    <div class="SubDash">
        <canvas id="myChart"></canvas>
        <canvas id="myChart3"></canvas>
    </div>
</div>
<div class="chart" id="flex-1">
    <canvas id="myChart2"></canvas>
</div>
    </div>
    @section ChartScripts{
        <script type="text/javascript">

            


            var ctx = document.getElementById('myChart');
            var ctx2 = document.getElementById('myChart2');
            var ctx3 = document.getElementById('myChart3');
        var myChart = new Chart(ctx,
            {
                type: 'bar',
                data: {
                    labels: @Html.Raw(Json.Encode(@ViewBag.NAMES)),
                    datasets: [{
                        label: 'Temperature by Region',
                        data: @Html.Raw(Json.Encode(@ViewBag.TEMPS)),
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        var myChart2 = new Chart(ctx2,
            {
                type: 'line',
                data: {
                    labels: @Html.Raw(Json.Encode(@ViewBag.TIMESTAMPS)),
                    datasets: [{
                        label: 'Humidity by Region',
                        data: @Html.Raw(Json.Encode(@ViewBag.CPUS)),
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
            var myChart3 = new Chart(ctx3,
            {
                type: 'bar',
                data: {
                    labels: @Html.Raw(Json.Encode(@ViewBag.NAMES)),
                    datasets: [{
                        label: 'Humidity by Region',
                        data: @Html.Raw(Json.Encode(@ViewBag.HUMIDITY)),
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        
                    },
                        {
                            label: 'Temperature by Region',
                            data: @Html.Raw(Json.Encode(ViewBag.TEMPS)),
                            backgroundColor: 'rgba(132, 99, 255, 0.2)',
                            type: 'line',
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
                });



            updateData();

            function read(data) {
                //myChart2.labels[0] = [];
                myChart2.data.labels = [];
                //myChart2.data.labels.pop();
                myChart2.data.datasets[0] = [];


                //myChart2.labels[0] = data.TimeStamps;
                myChart2.data.labels = data.TimeStamp;
                myChart2.data.datasets[0].label = 'CPU Usage';
                myChart2.data.datasets[0].data = data.Data;

                document.getElementById("test").innerHTML = data.TimeStamp.length;

                myChart2.update(0);


                setTimeout(updateData, 3000);
            }

            function updateData() {
                $.getJSON("/area/PageInfo?", read)
            }
        </script>
}

<p>

</p>
@{ /*
 <table class="table">
     <tr>
         <th>
             @Html.DisplayNameFor(model => model.AreaName)
         </th>
         <th>
             @Html.DisplayNameFor(model => model.Temp)
         </th>
         <th>
             @Html.DisplayNameFor(model => model.Humidity)
         </th>
         <th></th>
     </tr>

 @foreach (var item in Model)
 {
 <tr>
     <td>
         @Html.DisplayFor(modelItem => item.AreaName)
     </td>
     <td>
         @Html.DisplayFor(modelItem => item.Temp)
     </td>
     <td>
         @Html.DisplayFor(modelItem => item.Humidity)
     </td>
     <td>
         @Html.ActionLink("Edit", "Edit", new { id = item.pid }) |
         @Html.ActionLink("Details", "Details", new { id = item.pid }) |
         @Html.ActionLink("Delete", "Delete", new { id = item.pid })
     </td>
 </tr>
 }

 </table>
 */
}